DISCORD_BOT_TOKEN=your-discord-bot-token
HTTP_TIMEOUT_SECONDS=10
LOG_LEVEL=INFO
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=project_aegis
MONGODB_COLLECTION_NAME=settings
